{% extends 'base.html' %}

{% block content %}
<h1 class="centered">Shrimps Share/Shout</h1>

<section class="centered-container">
    {% if current_user %}
    <h3>Welcome, {{ current_user['first_name']}}</h3>
    <p>Like or comment your fav meme :3</p>
    <p>or even better, upload your own!</p>

    <section class="controls">
        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>
    </section>
    <a href="/memes/new">Add a meme</a>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="image">Upload an image:</label>
        <input type="file" name="image" id="image">
        <input type="submit" value="Upload">
    </form>
</section>

<section class="memes">
    {% for meme in memes%}
    <section class="meme">
        <header>
            <h2>{{meme['name']}}</h2>
        </header>
        <section class="meme-content">
            <section class="controls">
                <a href="/memes/{{meme['id']}}/edit">Edit</a>

                <form action="/memes/{{meme['id']}}/delete" method="POST">
                    <button>Delete</button>
                </form>

                <form action="/memes/{{ meme['id']}}/likes" method="POST">
                    <button>Like {{likes[meme['id']]}}</button>
                </form>

                <form action="/comments/{{ meme['id'] }}/new">
                    <button>Add/Delete comments</button>
                </form>
            </section>
        </section>

        <img src="{{ meme['image_url']}}" alt="meme">
        <ul class="comments">
            {% for comment in comments %}
            {% if comment['meme_id'] == meme['id']%}
            <li>UserID {{comment['user_id']}}: {{comment['content'] }}</li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    {% endfor%}
</section>


{% else %}
<h4>Sign up, log in and get VIPed!</h4>
<span><a href="/users/new">Sign up</a></span>
<span><a href="/sessions/new">Log in</a></span>

{% endif %}

{% endblock %}