{% extends 'base.html' %}

{% block content %}

<h1>Shrimps Share/Shout</h1>


{% if current_user %}
<h3>Welcome, {{ current_user['first_name']}}</h3>
<p>Like or comment your fav meme :3</p>
<p>or even better, upload your own!</p>

<section class="controls">
    <form action="/sessions/delete" method="POST">
        <button>Log out</button>
    </form>

    <a href="/memes/new">Add a meme</a>
</section>

<!-- <section class="add-meme">
        <span><a href="/memes/new">Add a meme</a></span>
    </section> -->

<section class="memes">
    {% for meme in memes%}
    <section class="meme">
        <header>
            <h4>{{meme['name']}}</h4>
        </header>
        <section class="controls">
            <a href="/memes/{{meme['id']}}/edit">Edit</a>

            <form action="/memes/{{meme['id']}}/delete" method="POST">
                <button>Delete</button>
            </form>

            <form action="/memes/{{ meme['id']}}/likes" method="POST">
                <button>Like {{likes[meme['id']]}}</button>
            </form>

            <form action="/comments/{{ meme['id'] }}/new">
                <button>Add/View comments</button>
            </form>

        </section>
        <img src="{{ meme['image_url']}}" alt="meme">
    </section>
    {% endfor%}
</section>


{% else %}
<h4>Sign up, log in and get VIPed!</h4>
<span><a href="/users/new">Sign up</a></span>
<span><a href="/sessions/new">Log in</a></span>

{% endif %}

{% endblock %}