{% extends 'base.html' %}

{% block content %}
<h1 class="centered">Add and view comments</h1>

<section class="centered-container">
    <p>Kindness is contagious.&#10084;</p>
    <br>
    <a href="/">Home</a>
    <br>
</section>

<section class="memes">
    <section class="meme">
        <header>
            <h2>{{meme['name']}}</h2>
        </header>
        <section class="controls">
            <a href="/memes/{{meme['id']}}/edit">Edit</a>

            <form action="/memes/{{meme['id']}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </section>
        <img src="{{ meme['image_url']}}" alt="meme">
    </section>
</section>

<section class="centered-container">
    <form action="/comments/{{meme['id']}}/add" method="POST">

        <input type="hidden" name="user_id" value="{{ current_user['id']}}">
        <p></p>

        <label for="">Name:</label>
        <input type="text" name="first_name" value="{{ current_user['first_name']}}">

        <label for="">Comment:</label>
        <textarea name="content" id="" cols="30" rows="2"></textarea>

        <button>Add a comment</button>
    </form>

    {% for comment in comment_by_id %}
    <p>User ID {{comment['user_id']}}: {{ comment['content'] }}</p>
    </form>
    <form action="/comments/{{comment['id']}}/delete" method="POST">
        <button>&#128070; Delete &#10060;</button>
    </form>
    {% endfor %}
</section>
{% endblock %}